body {
    margin: 0;
}

.top-content {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.top-content .ad-banner {
    align-items: flex-start;
    height: 50px;
    width: 100%;
    background-color: pink;
}

.ad-banner .ad-text {
    display: flex;
    justify-content: center;
    align-content: center;
}
.ad-text span {
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu-bar {
    margin: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    background-color: transparent;
    align-self: flex-end;
}

.owlLogoText {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}
.owlLogoText h3 {
    margin-top: 0%;
    margin-bottom: 0%;
    position: absolute;
}

.owlLogo p {
    display: flex;
    position: absolute;
}

.menu-bar nav {
    height: 50px;
    width: 50%;
    
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav #subButton {
    background-color: blue;
    border-radius: 35%;
}

.inLogo {
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-self: flex-end;
    height: 30px;
    width: 30px;
    background-color: black;
    text-decoration-color: white;
    font-style: italic;
}