body {
    margin: 0;
}

.top-content {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.top-content .ad-banner {
    align-items: flex-start;
    height: 50px;
    width: 100%;
    background-color: pink;
}

.ad-banner .ad-text {
    justify-content: center;
    text-align: center;
}

.menu-bar {
    height: 50px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    background-color: transparent;
    align-self: flex-end;
}

.menu-bar li {
    list-style: none;
}

